<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2"  name="FaturaAppAssessmentTest">
    <classes><class name="tests.Fatura_Login_Page_Test"><methods>
        <include name="userCanLoginWithValidData"/>
        <include name="userCanNotLoginWithInValidData"/>
    </methods></class>
        <class name="tests.Fatura_Place_Order_Test">
            <methods><include name="testUserCanLogOutAfterPlacingAnOrder"/>
            </methods>
        </class>
    </classes>
</test>
</suite>